/*! normalize.css v5.0.0 | MIT License | github.com/necolas/normalize.css */
html {
    font-family: sans-serif;
    line-height: 1.15;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%
}

body {
    margin: 0
}

article, aside, footer, header, nav, section {
    display: block
}

h1 {
    font-size: 2em;
    margin: .67em 0
}

figcaption, figure, main {
    display: block
}

figure {
    margin: 1em 40px
}

hr {
    box-sizing: content-box;
    height: 0;
    overflow: visible
}

pre {
    font-family: monospace, monospace;
    font-size: 1em
}

a {
    background-color: transparent;
    -webkit-text-decoration-skip: objects
}

a:active, a:hover {
    outline-width: 0
}

abbr[title] {
    border-bottom: none;
    text-decoration: underline;
    text-decoration: underline dotted
}

b, strong {
    font-weight: inherit;
    font-weight: bolder
}

code, kbd, samp {
    font-family: monospace, monospace;
    font-size: 1em
}

dfn {
    font-style: italic
}

mark {
    background-color: #ff0;
    color: #000
}

small {
    font-size: 80%
}

sub, sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline
}

sub {
    bottom: -.25em
}

sup {
    top: -.5em
}

audio, video {
    display: inline-block
}

audio:not([controls]) {
    display: none;
    height: 0
}

img {
    border-style: none
}

svg:not(:root) {
    overflow: hidden
}

button, input, optgroup, select, textarea {
    font-family: sans-serif;
    font-size: 100%;
    line-height: 1.15;
    margin: 0
}

button, input {
    overflow: visible
}

button, select {
    text-transform: none
}

[type=reset], [type=submit], button, html [type=button] {
    -webkit-appearance: button
}

[type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner, button::-moz-focus-inner {
    border-style: none;
    padding: 0
}

[type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring, button:-moz-focusring {
    outline: 1px dotted ButtonText
}

fieldset {
    border: 1px solid silver;
    margin: 0 2px;
    padding: .35em .625em .75em
}

legend {
    box-sizing: border-box;
    color: inherit;
    display: table;
    max-width: 100%;
    padding: 0;
    white-space: normal
}

progress {
    display: inline-block;
    vertical-align: baseline
}

textarea {
    overflow: auto
}

[type=checkbox], [type=radio] {
    box-sizing: border-box;
    padding: 0
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
    height: auto
}

[type=search] {
    -webkit-appearance: textfield;
    outline-offset: -2px
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
    -webkit-appearance: none
}

::-webkit-file-upload-button {
    -webkit-appearance: button;
    font: inherit
}

details, menu {
    display: block
}

summary {
    display: list-item
}

canvas {
    display: inline-block
}

[hidden], template {
    display: none
}

html {
    font-size: 62.5%
}

body {
    font: normal 1.6rem/1 Unica One, Helvetica Neue, Helvetica, arial, cursive
}

* {
    box-sizing: border-box
}

*, :after, :before {
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%
}

body {
    background-color: #2a2c2b
}

.mask {
    overflow: hidden
}

.main {
    height: 100vh;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    overflow: hidden
}

.app, .main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: column nowrap;
    flex-flow: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

.app {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    height: 75vh;
    text-align: center
}

.app__subtitle, .app__title {
    color: #fff;
    margin: 0
}

.app__title {
    font-size: 9.5rem
}

.app__subtitle {
    font-size: 4.2rem
}

.app__phone {
    width: 200px;
    height: auto;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform: translateZ(0);
    transform: translateZ(0)
}

.app__phone path {
    stroke-dasharray: 2000;
    stroke-dashoffset: 2000
}

.app__phone.is-tilting {
    -webkit-animation: tiltPhone 3s linear 0s infinite normal none;
    animation: tiltPhone 3s linear 0s infinite normal none
}

@-webkit-keyframes tiltPhone {
    0% {
        -webkit-transform: rotateX(0deg);
        transform: rotateX(0deg)
    }
    50% {
        -webkit-transform: rotateX(45deg);
        transform: rotateX(45deg)
    }
    to {
        -webkit-transform: rotateX(0deg);
        transform: rotateX(0deg)
    }
}

@keyframes tiltPhone {
    0% {
        -webkit-transform: rotateX(0deg);
        transform: rotateX(0deg)
    }
    50% {
        -webkit-transform: rotateX(45deg);
        transform: rotateX(45deg)
    }
    to {
        -webkit-transform: rotateX(0deg);
        transform: rotateX(0deg)
    }
}